.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10em;
  flex-wrap: wrap;

}
.picContainer{
  background-image: linear-gradient(to bottom right,#302add,#13c256);
  overflow: hidden;
  border-radius: 3em;
  margin-left: 5em;
}
.aboutPic {
  aspect-ratio:1/1;
  height: 30rem;
  float: right;
  border-radius: 3em;
  mix-blend-mode: overlay;
}

@media only screen and (max-width: 900px) {
    .about{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .aboutText{
        width: 75%;
        margin: 1em 0 0 0;
        font-size: 12px;
    }
    .picContainer{
      margin: auto;
    }
    .aboutPic{
      height: 20rem;
    }
  }