body {
  color: white;
  text-align: center;
  background-attachment: fixed;
}
.nameLogo{
  cursor: pointer;
  padding-right: 1em;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	line-height: .75;
}
.mobileNameLogo{
	font-weight: bold;
}
.activePage{
	background: -webkit-linear-gradient(115deg, #20bf55 0%, #01baef 74%) !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	filter: drop-shadow(2px 5px 2px blue)
  }
  /* #root canvas {
	display: block;
	position: fixed;
	height: 100vh;
	top: 6;
	z-index: -1;
  } */